{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Intake Log</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
   <style>
        h2{
                text-align:center;
                color:green;
            }
        form{
                text-align:center;
            }
        input{
            width: 20%;
            padding: 10px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            }
         body{
            color: white;
            font-size: 20px;
            text-align:center;
         }
   </style>

<script>
    function numOfMeals()
    {
    // var numMeals = document.getElementById("UI").value;
    // document.getElementById("demo2").innerHTML = parseInt(numMeals);
    message = "You have submitted";
    document.getElementById("demo").innerHTML = message;
    }
</script>
</head>
<body>
<a href="../"><img src="{% static 'nutrihacker/images/weblogo.png' %}" alt="Website logo" width="110px" height="110px"></a>
<h2>Daily Log</h2>
<hr>

    How many meals did you have today?
    <select id= "UI"name="number of meals">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>
 <!-- <button type="button" onclick="numOfMeals()">Next</button> -->
    <!-- The food intake has required field and optional
    required field is more general info and optional input is for more specific info-->

    <br>*What did you eat for breakfast?
     <input required type="text" placeholder="" onclick="" /></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br><hr>

    <br>*What did you have for lunch?
    <input required type="text" placeholder="" onclick="" /></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br><hr>

    <br>*What did you have for dinner?
    <input required type="text" placeholder="" onclick=""/></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br>

    <input type="submit" Value="Submit" onclick="" />
    <!-- <input id= "Test" type="button" value="Test" onclick="numOfMeals()" /> -->
<p id="demo"></p>
</form>

</body>
</html>