{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'prototype/style.css' %}">
	</head>
	<body>
		<table id="01" width="100%" style="background-color: black;">
				<tr>
					<th style="text-align: left;"><a href="../"><img src="{% static 'prototype/images/weblogo.png' %}" alt="Website logo" width="210px" height="210px"></a></th>
					<th><a href="../description">How it works</a> </th>
					<th><a href="">Search</a></th>
					{% if user.is_authenticated %}
                    <th><a href=>{{ user.username }}'s Profile</a>
                    <th><a href="../logout">Logout</a>
                    {% else %}
					<th><a href ="../login">Login/Register</a></th>
                    {% endif %}
				</tr>
		</table>
		<p>This website helps with meal planning and provides nutrition information.</p>
		<br>

		<!--  Search bar form that submits a search term  -->
			  
		<form action="{% url 'prototype:search' %}" method="get" align="center" style="background: transparent">
		<br>
				<input name="term" type="search" placeholder="Search..." size="100%"><input type="submit" placeholder="Search...">
		</br></br></br>
		</form>
		<!--  Form that fills with all relevant foods, each with a button that takes the user to a particular food item  -->
		<table class="t02" width="70%" align="center" style="background-color:white">
			<tr><th>
				<h1>Search Results</h1>
			</th>
				<th>servingSize </th>
				<th>calories </th>
				<th>totalFat </th>
				<th>cholesterol </th>
				<th>sodium </th>
				<th>totalCarb </th>
				<th>protein </th>
			</tr>
			<!-- For loop that loops for each food that the query returned -->
				{% for food in object_list %}
				<tr>
				<th>			
				<!-- Button of the food in question -->
				<a href="{% url 'prototype:nutrifacts' food.id %}"><button class="B">{{ food.name }}</button></a>
				</th>
				<!-- Convenient food information at a glance -->
				<th>{{ food.servingSize }}g</th>
				<th>{{ food.calories }}</th>
				<th>{{ food.totalFat }}g</th>
				<th>{{ food.cholesterol }}mg</th>
				<th>{{ food.sodium }}mg</th>
				<th>{{ food.totalCarb }}g</th>
				<th>{{ food.protein }}g</th>
				</tr>
				{% endfor %}
		</table>
		<br>
	</body>
</html>