{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'prototype/style.css' %}">
	</head>
	<body>
		<table id="01" width="100%" style="background-color: black;">
				<tr>
					<th style="text-align: left;"><a href=""><img src="{% static 'prototype/images/weblogo.png' %}" alt="Website logo" width="210px" height="210px"></a></th>
					<th><a href="../description">How it works</a> </th>
					<th><a href="..">Foods</a></th>
					<th><a href="../search">Search</a></th>
					<th><a href ="">About us</a></th>
				</tr>
		</table>
		<p>This website helps with meal planning and provides nutrition information.</p>
		<br>

		<!--  Form that submits a search term  -->
			  
		<form action="{% url 'prototype:search' %}" method="get" align="center" style="background-color:black">
		<br>
				<input name="term" type="search" placeholder="Search..." size="100%"><input type="submit" placeholder="Search...">
		</br></br></br>
		</form>
		<!--  Form that fills with all relevant foods, each with a button that takes the user to a particular food item  -->
		<form action="{% url 'prototype:nutrifacts' %}" method="GET" style="background-color:black">
		
		
			<table id="t02" width="70%" align="center" style="background-color:black">
					<tr><th>
						<h1>Search Results</h1>
					</th>
						<th>servingSize</th>
						<th>calories</th>
						<th>totalFat</th>
						<th>cholesterol</th>
						<th>sodium</th>
						<th>totalCarb</th>
						<th>protein</th>
					</tr>
						{% for food in object_list %}
						<tr>
						<th>			
						<input class="B" type="submit" name="food" value="{{ food.name }}"/>
						</th>
						<th>{{ food.servingSize }}</th>
						<th>{{ food.calories }}</th>
						<th>{{ food.totalFat }}</th>
						<th>{{ food.cholesterol }}</th>
						<th>{{ food.sodium }}</th>
						<th>{{ food.totalCarb }}</th>
						<th>{{ food.protein }}</th>
						</tr>
						{% endfor %}
			</table>
			<br>
		</form>
	</body>
</html>