{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Facts</title>
		<link rel="stylesheet" type="text/css" href="{% static 'prototype/style.css' %}">
		<style>
			table, td {
				border: 3px solid black;
				border-collapse: collapse;
				border-right: 0px;
				padding: 10px;
			}
			.facts {
				width: 35%;
				margin: auto;
				font-size: 24px;
			}
			.right {
				text-align: right;
				border-left: 0px;
				border-right: 3px solid black;
			}
			body {
				background-image: url("{% static 'prototype/images/background.jpg' %}");
			}
			a {
				text-decoration: none;
				align: center;
			}
			a:hover {
				color: blue;
			}
			.button {
				padding: 15px 30px;
				border: none;
				display: inline-block;
				margin: 4px 2px;
			}
			input {
				width: 48px;
			}
			label {
				color: white;
			}
		</style>
	</head>
	<body style="background-size: cover">
		<table class="01" width="100%" style="background-color: black;">
				<tr>
					<th style="text-align: left;"><a href="../"><img src="{% static 'prototype/images/weblogo.png' %}" alt="Website logo" width="210px" height="210px"></a></th>
					
					<th><form action="{% url 'prototype:search' %}" method="get">
						<input name="term" type="search" placeholder="Search..." size="100%" />
						<button type="submit" name="search">&#128269;</button>
					</form></th>
					
					<th><a href="../description">How it works</a> </th>
					<th><a href="../search">Search</a></th>
                    {% if user.is_authenticated %}
                    <th><a href="../profile">{{ user.username }}'s Profile</a>
                    <th><a href="../logout">Logout</a>
                    {% else %}
					<th><a href ="../login">Login/Register</a></th>
                    {% endif %}
				</tr>
		</table>
		<br>
		<br>
		
    How many meals did you have today?
    <select id= "UI"name="number of meals">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>
    <!-- The food intake has required field and optional
    required field is more general info and optional input is for more specific info-->
    <br>*What did you eat for breakfast?
     <input required type="text" placeholder="" onclick="" /></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br><hr>
    <br>*What did you have for lunch?
    <input required type="text" placeholder="" onclick="" /></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br><hr>

    <br>*What did you have for dinner?
    <input required type="text" placeholder="" onclick=""/></br>
    Calories: <input optional type="number" placeholder="" onclick=""/></br>
    Total Fat:<input optional type="number" placeholder="" onclick=""/>g</br>
    Cholesterol: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Sodium: <input optional type="number" placeholder="" onclick=""/>mg</br>
    Total Carbohydrates: <input optional type="number" placeholder="" onclick=""/>g</br>
    Protein: <input optional type="number" placeholder="" onclick=""/>g</br>
    
</form>
	
		<table class="facts" style="background-color: white">
		<form>
			<tr>
				<td>Username</td>
				<td class="right">{{ user.username }} -- <input required type="text" placeholder="" onclick="" /></br></td>
			</tr>
			<tr>
				<td>Email Address</td>
				<td class="right">{{ user.email }}</td>
			</tr>
			<tr>
				<td>First Name</td>
				<td class="right">{{ user.first_name }}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td class="right">{{ user.last_name }}</td>
			</tr>
			<tr>
				<td>Gender</td>
				<td class="right">{{ user.profile.gender }} -- <select id= "UI"name="gender"><option value="M">M</option><option value="F">F</option><option value="X">X</option></select><br></td>
			</tr>
			<tr>
				<td>Birthdate</td>
				<td class="right">{{ user.profile.birthdate }} -- <input required type="text" placeholder="" onclick="" /></td>
			</tr>
			<tr>
				<td>Height</td>
				<td class="right">{{ user.profile.height }} -- <input required type="number" placeholder="" onclick="" /></td>
			</tr>
			<tr>
				<td>Weight</td>
				<td class="right">{{ user.profile.weight }} -- <input required type="number" placeholder="" onclick="" /></td>
			</tr>
			<tr>
				<td>Are metric units preferred?</td>
				<td class="right">{{ user.profile.showmetric }} -- <input required type="text" placeholder="" onclick="" /></td>
			</tr>
			<input  type="submit" Value="Submit" onclick="">
			</form>
		</table>
		<br><br>
		<div style="text-align: center"><button class="button"><a href="{% url 'prototype:search' %}" alt="Return">RETURN TO SEARCH</a></button></div>
	</body>
</html>
