{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
    <style>
        #groupMembers{
            color: white;
            font-size: 20px;
            padding: 35px;

        }
    </style>
</head>
<body>
<h2>Group members</h2>
    <dl id="groupMembers">
        <dt>Bryce VanAsselt</dt>
        <dd>Group Leader</dd>
        <dt>Michael Neet</dt>
        <dt>John Owens</dt>
        <dt>Athena Xia</dt>
        <dt>Jalen Hudson</dt>
        <dt>Tsion Tadesse</dt>
    </dl>

</body>
</html>