{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
        <style>
            *{
                box-sizing: border-box;
            }
        table {
            border-spacing: 15px;
        }
        </style>
	</head>
    <body>
        {% include "nutrihacker/navigation_bar.html" %}
        
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.old_password.errors }}</p>
        <p>{{ form.new_password1.errors }}</p>
        <p>{{ form.new_password2.errors }}</p>
        <form method="post" action="{% url 'nutrihacker:change_password' %}">
        {% csrf_token %}
        <table style="text-align:center; width:75%;">
        <tr>
            <td style="text-align:right;font-size:25px;">{{ form.old_password.label_tag }}</td>
            <td>{{ form.old_password }}</td>
        </tr>
        <tr>
            <td style="text-align:right; font-size:25px;">{{ form.new_password1.label_tag }}</td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td style="text-align:right; font-size:25px;">{{ form.new_password2.label_tag }}</td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Change Password"></td>
        </tr>
        </table>


        <input type="hidden" name="next" value="{{ next }}">
        </form>
    </body>
</html>