{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Intake Log</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
   <style>
        h2{
                text-align:center;
                color:green;
            }
        form{
                text-align:center;
            }
        input{
            width: 20%;
            padding: 10px 10px;
            margin: 8px 0;
            box-sizing: border-box;
            }
         body{
            color: white;
            font-size: 20px;
            text-align:center;
         }
   </style>
    <script>
    //Prompt user to put their meal and loop the number of times they had meal
        function logMeal()
        {
        var numMeals = document.getElementById("UI").value;
        numMeals = parseInt(numMeals);
	    var list_of_meals = new Array(numMeals);
        var i;
        for(i=1; i<=numMeals; i++)
        {
            var meal_name = window.prompt("Enter meal" + i);
            alert("Meal" + i + ":" + meal_name);
            var name = meal_name.toLowerCase();
            list_of_meals[i] = name + "<br>";
        }
        document.getElementById("demo").innerHTML = list_of_meals.join(' ');
        }
</script>

</head>
<body>
<h2>Daily Log</h2>

<form>
    <!-- get how many meals user had; the number will be used to loop get users input-->

   <input id="UI"type="number" value="Number of meal"/><br>
   <input type="submit" value="Submit" onclick="logMeal()"/>


</form>

<p id="demo"></p>
</body>
</html>