{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
        <style>
            .usrnameLabel{
                text-align:right;
                 color:white;
                 font-size:30px;
            }
            .usrnamebox{
                text-align:left;
            }
            .pwdlabel{
                text-align:right;
                color:white;
                font-size:30px;
            }
            .pwdbox{
                text-align:left;
            }
        </style>
        <script>
            function registerRedirect()
            {
                window.location.href="{% url 'nutrihacker:register_account' %}"
            }
        </script>
        <style>
        table {
            border-spacing: 15px;
        }
        </style>
	</head>
    <body>
        {% include "nutrihacker/navigation_bar.html" %}
        
    
        <form method="post" action="{% url 'nutrihacker:login' %}">
        {% csrf_token %}
        <table align="center" width="90%">
            <tr>
                <td class="usrnameLabel">{{ form.username.label_tag }}</td>
                <td class="usrnamebox">{{ form.username }}</td>
            </tr>
            <tr>
                <td class="pwdlabel">{{ form.password.label_tag }}</td>
                <td class="pwdbox">{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
            <td style="text-align:left;"><input type="submit" value="Login"></td>
        </tr>
        {% if user.is_authenticated %}
        <p>You are already logged in.</p>
        {% else %}
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <tr>
            <td></td>
            <td style="text-align:left;" >
                </br> 
                <input type="button" value="Create Account" onclick="registerRedirect();">
            </td>
        </tr>
        </table>


        <input type="hidden" name="next" value="{{ next }}">
        </form>
        {% endif %}
    </body>
</html>