{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
        <script>
            function registerRedirect()
            {
                window.location.href="{% url 'nutrihacker:register_account' %}"
            }
        </script>
        <style>
        table {
            border-spacing: 15px;
        }
        </style>
	</head>
    <body>
        {% include "nutrihacker/navigation_bar.html" %}
        
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated %}
        <p>You are already logged in.</p>
        {% else %}
        <form method="post" action="{% url 'nutrihacker:login' %}">
        {% csrf_token %}
        <table align="center" width="45%">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
            <td><input type="submit" value="Login"></td>
        </tr>
        <tr>
            <td></td>
            <td> 
                </br> 
                <input type="button" value="Create Account" onclick="registerRedirect();">
            </td>
        </tr>
        </table>


        <input type="hidden" name="next" value="{{ next }}">
        </form>
        {% endif %}
    </body>
</html>