{% load static %}

<div class="nav-bar">
    <ul>
        <div class="logo" style="text-align:left ;">
            <a href="{% url 'nutrihacker:index' %}">
            <img src="{% static 'nutrihacker/images/weblogo.png' %}" style="width: 130px;">
            </a>
        </div>
        <div class="search-bar" >
            <li style="text-align:center;">
                <form id="searchfood" action="{% url 'nutrihacker:search' %}" method="get">
                    <input id="oneSearch" type="search" name="search" placeholder="Search Food..." size="65%"/>
					
					<!-- This tells the view the search was from the nav bar, to use default filters -->
					<input type="hidden" name="filter" value="true" />
					
                    <button id="oneButoon" type="submit">&#128269;</button>
                </form>
                <div class="search-bar-radio">
                    <input id="food" type="radio" name="FoodRec" value="food" checked>
                    <label for="food">Food</label>
                    <input id="recipe" type="radio" name="FoodRec" value="recipe">
                    <label for="recipe">Recipe</label>
                </div>
            </li>
        </div>
        <div class="menu-items">
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'nutrihacker:profile' %}">{{user.username}}</a>
                <img src="{{ user.profile.profilePic.url }}" width="100"/>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="{% url 'nutrihacker:list_recipe' %}" alt="List Recipe">Personal Recipes</a></li>
                        <li><a href="{% url 'nutrihacker:log_list' %}">My Logs</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{% url 'nutrihacker:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'nutrihacker:login' %}">Login/Register</a></li>
            {% endif %}
        </div>
    </ul>
</div>
<style>
    body {

        padding: 0;
        margin: 0;
    }
    .nav-bar * {
        padding: 0;
        margin: 0;
    }
    .nav-bar {

        background: black;
        text-align: justify;
    }

    .logo{
        margin-top: 10px;
        text-align: left;
        padding-left: 40px;
        padding-right: 120px;
    }

    .search-bar{
        padding-top: 40px;
        display: inline-flex;
        align-items: left;
        padding-left: 100px;
        padding-right: 100px;
    }
    .search-bar input {
        margin: 8px;
    }
    .search-bar-radio{
        position: static;
        font-size: 16px;
    }

    #food{
        width: 40px;
    }

    #recipe{
        width: 40px;
    }

    label[for="food"]{
        margin-right: 30px;
    }

    .nav-bar label {
        color: white;
    }
    .nav-bar ul{
        display: inline-flex;
        list-style: none;
    }
    .menu-items{
        display: inline-flex;
        list-style: none;
        text-align: center;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 20px;
    }

    .menu-items a{
        color: green;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 16px;
    }
    .menu-items li{
        width: 120px;
        margin: 15px;
        padding: 15px;
    }

    .sub-menu-1{
        display: none;
    }

    .nav-bar ul li:hover .sub-menu-1{
        display: block;
        position: absolute;
        background: black;
        margin-top: 15px;
        margin-left: -15;
    }
    .nav-bar ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 10px;
    }
</style>
<script>
    document.getElementById("food").addEventListener('click', function(){
    document.getElementById('oneSearch').name;
    document.getElementById('oneSearch').name = "search";
    document.getElementById('oneSearch').placeholder = "Search Food...";
    document.getElementById('searchfood').action;
    document.getElementById('searchfood').action = "{% url 'nutrihacker:search' %}";



    });

    document.getElementById("recipe").addEventListener('click', function(){
    document.getElementById('oneSearch').name;
    document.getElementById('oneSearch').name = "term";
    document.getElementById('oneSearch').placeholder = "Search Recipe...";
    document.getElementById('searchfood').action;
    document.getElementById('searchfood').action = "{% url 'nutrihacker:search-recipe' %}";



    });
</script>

