{% load static %}

<table class="01" width="100%" style="background-color: black;">
    <style>

    .sub-menu{
  position: relative;
  display: inline-block;
    }

    .sub-menu-1 a{
    display: block;
    }



    </style>
        <tr>
            <th style="text-align: left;"><a href="{% url 'nutrihacker:index' %}"><img src="{% static 'nutrihacker/images/weblogo.png' %}" alt="Website logo" width="210px" height="210px"></a></th>

            <th><a href="{% url 'nutrihacker:description' %}">How it works</a> </th>
            <div class="sub-menu"><th><a href="{% url 'nutrihacker:search' %}">Search</a>
            <div class="sub-menu-1">
                <a href="{% url 'nutrihacker:search' %}">Food</a>
                <a href="{% url 'nutrihacker:search-recipe' %}">Recipe</a>
            </div>
            </th>
            </div>
            {% if user.is_authenticated %}
            <th><a href="{% url 'nutrihacker:log_list' %}">My Logs</a></th>
            <th><a href="{% url 'nutrihacker:list_recipe' %}">My Recipes</a></th>
            <th><a href="{% url 'nutrihacker:profile' %}">My Profile</a></th>
            <th><a href="{% url 'nutrihacker:logout' %}">Logout</a></th>
            {% else %}
            <th><a href ="{% url 'nutrihacker:login' %}">Login/Register</a></th>
            {% endif %}
        </tr>
</table>


