{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
    
</head>
<body>
   <p> Forgot Password</p>
<p>Enter your Email address: </p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Send Reset Email">
</form>

</body>
</html>