{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
		<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
			<link href="{% static 'admin/css/vendor/select2/select2.css' %}" type="text/css" media="screen" rel="stylesheet">
			<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
			<link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
			<script src="/static/admin/js/vendor/select2/select2.full.js"></script>
			<script src="/static/autocomplete_light/autocomplete_light.js"></script>
			<script src="/static/autocomplete_light/select2.js"></script>
			<script src="/static/autocomplete_light/i18n/en.js"></script>	
		<script type="text/javascript" src="{% static 'nutrihacker/log_build.js' %}"></script>
        <style>
			.page_bar
			{
				width: 70%;
				margin: 0 auto;
				font-size: 30px;
				text-align: center;
				color: green;
				background-color: white;
			}
			.right
			{
                height: 1px;
				display: inline-block;
				width: 400px;
				float: right;
				text-align: right;
			}
			.left
			{
				height: 1px;
				display: inline-block;
				width: 400px;
				float: left;
				text-align: left;
			}
			a
			{
				margin-left: 5px;
				margin-right: 5px;
			}
			.t02 thead tr{
				background-color: #009879;
				color: white;
			}
			.t02 tbody tr{
				background-color: #f3f3f3;
			}
			label {
				color: white;
			}
			.B:hover{
			background-color: green;
			color: white;
			}
			#id_calories_max,
			#id_calories_min{
			width : 5%;
			}
			a, .sort {
				cursor: pointer;
			}
			.filter {
				margin: 10px;
			}
			.filter_form {
				margin-top: 10px;
			}
        </style>
		<script type="text/javascript">
			function order_by(field)
			{
				// If results were already sorted by clicked field, swap the order
				var order_by = document.getElementById('order_by');
				var order = document.getElementById('order');
				if (field == order_by.value)
				{
					if (order.value == 'asc')
						order.value = 'desc';
					else
						order.value = 'asc';
				}
				else
					order.value = 'asc';
				order_by.value = field;
				document.getElementById('search_form').submit();
			}
			function change_page(page)
			{
				document.getElementById('page_num').value = page;
				document.getElementById('search_form').submit();
			}
		</script>
	</head>
	<body>
		{% include "nutrihacker/navigation_bar.html" %}
		<br>
		<!--  Form that fills with all relevant foods, each with a button that takes the user to a particular food item  -->
		<th><form id="search_form" action="{% url 'nutrihacker:search-recipe' %}" method="get">
                <input name="term" type="search" placeholder="Search Recipe's" size="100%" />
				<input id="order_by" type="hidden" name="order_by" value="{{ order_by }}" />
				<input id="order" type="hidden" name="order" value="{{ order }}" />
				<input id="page_num" type="hidden" name="page" value="1" />
                <button type="submit" name="search">&#128269;</button>
				<div class="filter_form">
					<span class='filter'>
						{{ filter_form.allergy_filter.label_tag }}
						{{ filter_form.allergy_filter }}
					</span>
					<span class='filter'>
						{{ filter_form.diet_filter.label_tag }}
						{{ filter_form.diet_filter }}
					</span>
					</br>
					<span class='filter'>
						{{ filter_form.food_filter.label_tag }}
						{{ filter_form.food_filter }}
					</span>
					<span class='filter'>
						{{ filter_form.calories_min.label_tag }}
						{{ filter_form.calories_min }}
						{{ filter_form.calories_max.label_tag }}
						{{ filter_form.calories_max }}
					</span>
				</div>
            </form>
		</th>
		<table class="t02" width="70%" align="center" style="padding:10px" >
			<thead>
			<tr>
				{% if object_list %}
				<th class="sort" onclick="order_by('name');"><h2 style="color:white;">Recipe Results</h2></th>
                <th class="sort" onclick="order_by('calories');">Calories</th>
				<th>Allergy</th>
				<th>Diet</th>
				<th class="sort" onclick="order_by('user');">Created by</th>
				<th class="sort" onclick="order_by('created_at');">Date created</th>
			</tr>
			</thead>
			<!-- For loop that loops for each food that the query returned -->
				{% for recipe in object_list %}
			<tbody>
				<tr>
				<!-- Button of the food in question -->
					<th><a href="{% url 'nutrihacker:detail_recipe' recipe.id %}"><button class="B">{{ recipe.name }}</button></a></th>

				<!-- Convenient food information at a glance -->
				<th>{{ recipe.get_total.calories|floatformat }}</th>
				<th>{{ recipe.allergies_string }}</th>
				<th>{{ recipe.diets_string }}</th>
				<th>{{ recipe.user }}</th>
				<th>{{ recipe.created_at|date:"m/d/y" }}</th>
				</tr>
				</tbody>
				{% endfor %}
		</table>
        <br>
        <div class="page_bar">
            <div class="left">
            {% if page_obj.has_previous %}
                <a onclick="change_page(1);">&laquo; first</a>
                <a onclick="change_page({{ page_obj.previous_page_number }});">previous</a>
            {% endif %}
            </div>
            
            <div class="right">
            {% if page_obj.has_next %}
                <a onclick="change_page({{ page_obj.next_page_number }})">next</a>
                <a onclick="change_page({{ page_obj.paginator.num_pages }})">last &raquo;</a>
            {% endif %}
            </div>
            
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</div>
		{% else %}
			<p>Searched recipe not found</p>
        {% endif %}
        <br>
		{% if user.id is not None %}
		<br>
		<div style="display: flex; justify-content: center;">
			<button class="button"><a href="{% url 'nutrihacker:create_recipe' %}" alt="Create Recipe">Create A Personal Recipe</a></button>
		</div>
		<br>
		{% endif %}
	</body>
</html>