{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
        <style>
			.page_bar
			{
				width: 70%;
				margin: 0 auto;
				font-size: 30px;
				text-align: center;
				color: green;
				background-color: white;
			}
			.right
			{
                height: 1px;
				display: inline-block;
				width: 400px;
				float: right;
				text-align: right;
			}
			.left
			{
				height: 1px;
				display: inline-block;
				width: 400px;
				float: left;
				text-align: left;
			}
			a
			{
				margin-left: 5px;
				margin-right: 5px;
			}
			.t02 thead tr{
				background-color: #009879;
				color: white;
			}
			.t02 tbody tr{
				background-color: #f3f3f3;
			}

			.B:hover{
			background-color: green;
				color: white;
			}
			.nutrient_range,
			.addbtn{
				width : 100px;
				text-align: center;
				padding-left: 0px;
				padding-right: 0px;
			}
			label {
				color: white;

			}
			a, .sort {
				cursor: pointer;
			}
        </style>
		<script type="text/javascript">
		
			function order_by(field)
			{
				// If results were already sorted by clicked field, swap the order
				var order_by = document.getElementById('order_by');
				var order = document.getElementById('order');
				if (field == order_by.value)
				{
					if (order.value == 'asc')
						order.value = 'desc';
					else
						order.value = 'asc';
				}
				else
					order.value = 'asc';
				order_by.value = field;
				document.getElementById('search_form').submit();
			}
			
			function change_page(page)
			{
				document.getElementById('page_num').value = page;
				document.getElementById('search_form').submit();
			}
            
            // adds another nutrient filter
            function addFilter() {
				var filter_count = document.getElementById("filter_count");
				var filter_number = parseInt(filter_count.value, 10) + 1;
			
				// no need for more than 7 filters
				if (filter_number > 7)
					return;
				
                var filters = document.getElementById('filters');
				var nutrient_filter = document.getElementById('nutrient_filter');
                
                var filter_clone = nutrient_filter.cloneNode(true);

                // get the label and select elements from the nutrient field
                var nutr_label = filter_clone.getElementsByTagName("label")[0];
                var nutr_select = filter_clone.getElementsByTagName("select")[0];
                
                // get the label and input elements from the min field
                var min_label = filter_clone.getElementsByTagName("label")[1];
                var min_input = filter_clone.getElementsByTagName("input")[0];
				
				// get the label and input elements from the max field
                var max_label = filter_clone.getElementsByTagName("label")[2];
                var max_input = filter_clone.getElementsByTagName("input")[1];

                // set the for, name, and id
                nutr_label.setAttribute("for", "id_nutrient" + filter_number);
                nutr_select.setAttribute("name", "nutrient" + filter_number);
                nutr_select.id = "id_nutrient" + filter_number;

                min_label.setAttribute("for", "id_nutrient_min" + filter_number);
                min_input.setAttribute("name", "nutrient_min" + filter_number);
                min_input.id = "id_nutrient_min" + filter_number;
				min_input.className = "nutrient_range"
				
				max_label.setAttribute("for", "id_nutrient_max" + filter_number);
                max_input.setAttribute("name", "nutrient_max" + filter_number);
                max_input.id = "id_nutrient_max" + filter_number;
				max_input.className = "nutrient_range"

                // append filter to the div
                filters.appendChild(filter_clone);

                // update hidden value
                filter_count.value = filter_number;
            }
			
			function clearFilters(){
				var div = document.getElementById('filters');
				while(div.firstChild) {
					div.removeChild(div.firstChild);
				}
				document.getElementById("filter_count").value = 1;
				document.getElementById("id_nutrient_min1").value = '';
				document.getElementById("id_nutrient_max1").value = '';
			}
		</script>
	</head>
	<body>
		{% include "nutrihacker/navigation_bar.html" %}
        <form id="search_form" action="{% url 'nutrihacker:search' %}" method="get">
            <input type="search" name="search" placeholder="Search..." size="100%" value="{{ search }}" />
			<input id="order_by" type="hidden" name="order_by" value="{{ order_by }}" />
			<input id="order" type="hidden" name="order" value="{{ order }}" />
			<input id="page_num" type="hidden" name="page" value="1" />
			<input id="filter_count" type="hidden" name="filter_count" value="{{ filter_count }}">
            <button type="submit">&#128269;</button>
			<div>
				<input class="addbtn" type="button" value="Add Filter" onclick="addFilter()">
				<input class="addbtn" type="button" value="Clear Filters" onclick="clearFilters()">
				<div id="nutrient_filter">
					{{ filter_form.nutrient1.label_tag }}
					{{ filter_form.nutrient1 }}
					{{ filter_form.nutrient_min1.label_tag }}
					{{ filter_form.nutrient_min1 }}
					{{ filter_form.nutrient_max1.label_tag }}
					{{ filter_form.nutrient_max1 }}
				</div>
				<div id="filters">
					{% for field in filter_form %}
						{% if forloop.counter > 3 %}
							{{ field.label_tag }}
							{{ field }}
							{% if forloop.counter|divisibleby:"3" %}
								</br>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
        </form>
        {% if object_list %}
		<p>Search Results</p>
		<br>
		<!--  Form that fills with all relevant foods, each with a button that takes the user to a particular food item  -->
		<table class="t02" width="70%" align="center"  >
			<thead>
			<tr>
				<th style="width: 150px;" onclick="order_by('name');" class="sort">Foods Results </th>
				<th style="width: 150px;" onclick="order_by('servingSize');" class="sort">Serving Size </th>
				<th style="width: 150px;" onclick="order_by('calories');" class="sort">Calories </th>
				<th style="width: 150px;" onclick="order_by('totalFat');" class="sort">Total Fat </th>
				<th style="width: 150px;" onclick="order_by('cholesterol');" class="sort">Cholesterol </th>
				<th style="width: 150px;" onclick="order_by('sodium');" class="sort">Sodium </th>
				<th style="width: 150px;" onclick="order_by('totalCarb');" class="sort">Total Carb </th>
				<th style="width: 150px;" onclick="order_by('protein');" class="sort">Protein </th>
			</tr>
			</thead>
			<!-- For loop that loops for each food that the query returned -->
			{% for food in object_list %}
			<tbody>
			<tr>
				<th>			
				<!-- Button of the food in question -->
				<a href="{% url 'nutrihacker:nutrifacts' food.id %}"><button class="B">{{ food.name }}</button></a>
				</th>
				<!-- Convenient food information at a glance -->
				<th>{{ food.servingSize }}g</th>
				<th>{{ food.calories }}</th>
				<th>{{ food.totalFat }}g</th>
				<th>{{ food.cholesterol }}mg</th>
				<th>{{ food.sodium }}mg</th>
				<th>{{ food.totalCarb }}g</th>
				<th>{{ food.protein }}g</th>
			</tr>
			</tbody>
			{% endfor %}
		</table>
		<br>
		<div class="page_bar">
            <div class="left">
            {% if page_obj.has_previous %}
                <a onclick="change_page(1);">&laquo; first</a>
                <a onclick="change_page({{ page_obj.previous_page_number }});">previous</a>
            {% endif %}
            </div>
            
            <div class="right">
            {% if page_obj.has_next %}
                <a onclick="change_page({{ page_obj.next_page_number }})">next</a>
                <a onclick="change_page({{ page_obj.paginator.num_pages }})">last &raquo;</a>
            {% endif %}
            </div>
            
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</div>
        {% else %}
		<p>No search results</p>
		{% endif %}
		<br>
	</body>
</html>