{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Helper</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
        <style>
			.page_bar
			{
				width: 70%;
				margin: 0 auto;
				font-size: 30px;
				text-align: center;
				color: green;
				background-color: black;
			}
			.right
			{
                height: 1px;
				display: inline-block;
				width: 400px;
				float: right;
				text-align: right;
			}
			.left
			{
				height: 1px;
				display: inline-block;
				width: 400px;
				float: left;
				text-align: left;
			}
			a
			{
				margin-left: 5px;
				margin-right: 5px;
			}
        </style>
	</head>
	<body>
		{% include "nutrihacker/navigation_bar.html" %}

		<p>This website helps with meal planning and provides nutrition information.</p>
		<br>
		<!--  Form that fills with all relevant foods, each with a button that takes the user to a particular food item  -->
		<th><form action="{% url 'nutrihacker:search-recipe' %}" method="get">
                <input name="term" type="search" placeholder="Search Recipe's" size="100%" />
                <button type="submit" name="search">&#128269;</button>
            </form>
		</th>
		<table class="t02" width="70%" align="center" style="background-color:black;padding:10px" >
			<tr><th>
				<h1>Recipe Results</h1>
			</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
				<th>Ingredient</th>
			</tr>
			<!-- For loop that loops for each food that the query returned -->
				{% for recipe in object_list %}
				<tr>
				<th>
				<!-- Button of the food in question -->
				<a href="#"><button class="B">{{ recipe.name }}</button></a>
				</th>
				<!-- Convenient food information at a glance -->
				<th>{{ recipe.ingredientOne }}</th>
				<th>{{ recipe.ingredientTwo }}</th>
				<th>{{ recipe.ingredientThree }}</th>
				<th>{{ recipe.ingredientFour }}</th>
				<th>{{ recipe.ingredientFive }}</th>
				<th>{{ recipe.ingredientSix }}</th>
				<th>{{ recipe.ingredientSeven }}</th>
				<th>{{ recipe.ingredientEight }}</th>
				</tr>
				{% endfor %}
		</table>

        <br>
        <div class="page_bar">
        {% if search %}
            <div class="left">
            {% if page_obj.has_previous %}
                <a href="?term={{ search }}&page=1">&laquo; first</a>
                <a href="?term={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            </div>
            
            <div class="right">
            {% if page_obj.has_next %}
                <a href="?term={{ search }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?term={{ search }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </div>
            
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% endif %}
        </div>
        <br>
		<br>
		<div style="display: flex; justify-content: center;">
			<button class="button"><a href="{% url 'nutrihacker:create_recipe' %}" alt="Create Recipe">Create A Personal Recipe</a></button>
		</div>
		<br>
	</body>
</html>