{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nutrition Facts</title>
		<link rel="stylesheet" type="text/css" href="{% static 'nutrihacker/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'nutrihacker/images/favicon.png' %}">
		<style>
			table, td {
				border: 3px solid black;
				border-collapse: collapse;
				border-right: 0px;
				padding: 10px;
			}
			.facts {
				width: 35%;
				margin: auto;
				font-size: 24px;
			}
			.right {
				text-align: right;
				border-left: 0px;
				border-right: 3px solid black;
			}
			body {
				background-image: url("{% static 'nutrihacker/images/background.jpg' %}");
			}
			a {
				text-decoration: none;
				align: center;
			}
			a:hover {
				color: blue;
			}
			.button {
				padding: 15px 30px;
				border: none;
				display: inline-block;
				margin: 4px 2px;
			}
			label {
				color: green;
			}
		</style>
		<script>
			lbs_in_kg = 2.20462;
			in_in_cm = 0.393701;
		
			window.onload = function()
			{
				metric_checkbox = document.getElementById("id_showmetric");
				metric_checkbox.onclick = function(){ toggleUnits(metric_checkbox) };
				if (metric_checkbox.checked)
					metric_labels();
				else
					imperial_labels();
			}
			
			function in_to_cm(num)
			{
				num /= in_in_cm;
				return Math.round(num * 100) / 100;
			}
			
			function cm_to_in(num)
			{
				num *= in_in_cm;
				return Math.round(num * 100) / 100;
			}
			
			function lbs_to_kg(num)
			{
				num /= lbs_in_kg;
				return Math.round(num * 100) / 100;
			}
			
			function kg_to_lbs(num)
			{
				num *= lbs_in_kg;
				return Math.round(num * 100) / 100;
			}
			
			function metric_labels()
			{
				document.getElementById("height_label").innerHTML = "Height (cm)";
				document.getElementById("weight_label").innerHTML = "Weight (kg)";
			}
			
			function imperial_labels()
			{
				document.getElementById("height_label").innerHTML = "Height (in)";
				document.getElementById("weight_label").innerHTML = "Weight (lbs)";
			}
			
			function toggleUnits(metric_checkbox)
			{
				height = document.getElementById("id_height");
				weight = document.getElementById("id_weight");
				
				if (metric_checkbox.checked)
				{
					metric_labels();
					height.value = in_to_cm(height.value);
					weight.value = lbs_to_kg(weight.value);
				}
				else
				{
					imperial_labels();
					height.value = cm_to_in(height.value);
					weight.value = kg_to_lbs(weight.value);
				}
			}
		</script>
	</head>
	<body style="background-size: cover">
        {% include "nutrihacker/navigation_bar.html" %}
        <br>
        <br>
        <p>{{ user_form.errors }}</p>
		<p>{{ profile_form.errors }}</p>
        <form method="POST" action="{% url 'nutrihacker:update_profile' %}">
            {% csrf_token %}
            <table class="facts" style="background-color: white" style="width:50%">
				<tr>
                    <td>{{ user_form.email.label_tag }}</td>
                    <td>{{ user_form.email }}<br></td>
                </tr>
				<tr>
                    <td>{{ user_form.first_name.label_tag }}</td>
                    <td>{{ user_form.first_name }}<br></td>
                </tr>
				<tr>
                    <td>{{ user_form.last_name.label_tag }}</td>
                    <td>{{ user_form.last_name }}<br></td>
                </tr>
				<tr>
                    <td>{{ profile_form.gender.label_tag }}</td>
                    <td>{{ profile_form.gender }}<br></td>
                </tr>
                <tr>
                    <td>{{ profile_form.birthdate.label_tag }}</td>
                    <td>{{ profile_form.birthdate }}</td>
                </tr>
                <tr>
                    <td id="height_label">{{ profile_form.height.label_tag }}</td>
                    <td>{{ profile_form.height }}</td>
                </tr>
                <tr>
                    <td id="weight_label">{{ profile_form.weight.label_tag }}</td>
                    <td>{{ profile_form.weight }}</td>
                </tr>
                <tr width="80%">
                    <td>Use metric:</td>
                    <td>{{ profile_form.showmetric }}<br></td>
                </tr>
            </table>
            <br><br>
            <input  type="submit" value="Update" style="padding: 15px 30px; border: none; display: inline-block;	margin: 4px 2px;"></button>
        </form>
			<br><br>
	</body>
</html>
